.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 15px;
  padding: 30px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.h{
  background-color: #222;
  color: white;

}

.tbl{
  border: 1px solid black;
}

.tlabel{
  font-size: 9px;
}

.image{
  margin: 1cm 2cm;
}

.thh{
  text-align: center;;
}
